<div style="height: 85vh; background-color: white;">
  <div class="toolbar">
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
          <mat-icon>menu</mat-icon>
        </button>
        <span>Ferreteria Universal S.A.S</span>
        <span class="menu-spacer"></span>
        <div fxShow="true" fxHide.lt-md>
          <!-- The following menu items will be hidden on both SM and XS screen sizes -->
          <a mat-button (click)="goToInicio()">Inicio</a>
          <a mat-button (click)="goToQuienesSomos()" mat-button>Quienes Somos</a>
          <a mat-button (click)="goToServicios()" mat-button>Servicios</a>
          <a mat-button (click)="goToProductos()">Productos</a>
          <!--<a href="#" mat-button>Blog</a> -->
          <a mat-button (click)="goToContacto()">Contacto</a>
        </div>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list class="options-slider">
        <a mat-list-item (click)="goToInicio()">Inicio</a>
        <a mat-list-item (click)="goToQuienesSomos()">Quienes Somos</a>
        <a mat-list-item (click)="goToQuienesSomos()">Servicios</a>
        <!-- <a href="#" mat-list-item>Menu Item 4</a> -->
        <a mat-list-item (click)="goToProductos()">Productos</a>
        <a mat-list-item (click)="goToContacto()">Contacto</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <ng-component></ng-component>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
