<h1 mat-dialog-title>Agregar Producto</h1>
<div mat-dialog-content>
  <p>Nombre del Producto</p>
  <mat-form-field appearance="fill">
    <mat-label>nombre</mat-label>
    <input matInput (ngModel)="data.animal">
  </mat-form-field>
</div>
<div mat-dialog-content>
  <p>Foto del Producto</p>
  <mat-form-field appearance="fill">
    <mat-label>URL Imagen Del Producto </mat-label>
    <input matInput (ngModel)="data.animal">
  </mat-form-field>
</div>
<div mat-dialog-content>
  <p>Unidad Medida</p>
  <mat-form-field appearance="fill">
    <mat-label>Unida de Medida</mat-label>
    <input matInput (ngModel)="data.animal">
  </mat-form-field>
</div>
<div mat-dialog-content>
  <p>Valor Unitario</p>
  <mat-form-field appearance="fill">
    <mat-label>valor unidad con IVA</mat-label>
    <input matInput (ngModel)="data.animal">
  </mat-form-field>
</div>
<div mat-dialog-content>
  <p>IVA</p>
  <mat-form-field appearance="fill">
    <mat-label>nombre</mat-label>
    <input matInput (ngModel)="data.animal">
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>Aceptar</button>
</div>