<section class="jumbotron jumbotron_principal text-center">
    <div class="container texto_jumbotron">
        <h1 class="py-3">¿Qué hacemos?</h1>
        <p class="py-3">Nuestros servicios</p>
    </div>
</section>
<div class="container principal my-3">
    <div class="row my-3">
        <div class="container py-2 col-lg-4 col-md-12 col-sm-12 rounded tarjeta_servicio">
            <div class="container py-2 card">
                <img class="card-img-top img-fluid" src="/assets/img_servicios/VENTA.jpg" alt="Card image cap">
                <div class="card-body">
                    <h1 class="card-title text-center">Asesoramiento y venta de herramientas</h1>
                    <p class="card-text text-center">Venta de productos ferreteros</p>
                </div>
            </div>
        </div>
        <div class="container py-2 col-lg-4 col-md-12 col-sm-12 rounded tarjeta_servicio">
            <div class="container py-2 card">
                <img class="card-img-top img-fluid" src="/assets/img_servicios/Mantenimiento de equipos.jpg" alt="Card image cap">
                <div class="card-body">
                    <h1 class="card-title text-center">Servicio de mantenimiento de herramientas</h1>
                    <p class="card-text text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi iusto vitae debitis quis, perferendis cupiditate. Rem nostrum veniam iure illum ad nesciunt consectetur voluptates et rerum, perspiciatis magni tempore maxime.</p>
                </div>
            </div>
        </div>
        <div class="container py-2 col-lg-4 col-md-12 col-sm-12 rounded tarjeta_servicio">
            <div class="container py-2 card">
                <img class="card-img-top img-fluid" src="/assets/img_servicios/cerrajeria.jpg" alt="Card image cap">
                <div class="card-body">
                    <h1 class="card-title text-center">Servicio de Cerrajería</h1>
                    <p class="card-text text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. A culpa blanditiis ratione aliquid pariatur neque dolor soluta nesciunt, reprehenderit officiis veniam iure sint at odio vitae aspernatur? Aliquid, id in!</p>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="jumbotron texto_jumbotron_2 text-center">
    <!-- <div class="container texto_jumbotron_2"> -->
        <h1 class="py-3">Si deseas adquirir algún
            producto o quieres que
            te prestemos algún
            servicio no dudes en
            contactarte
        </h1>
        <button  (click)="goToContacto()" class="boton_contactarse rounded">Contactarse</button>
    <!-- </div> -->
</section>
