.titulo2 {
  font-size: 4vw;
  font-family: Poppins;
  font-weight: 700;
  margin-bottom: 25px;
}

.subtitulo{
  font-size: 18px;
  font-family: Poppins;
  font-weight: 500;
}

.search-input .box{
  margin: 100px auto;
  width: 300px;
  height: 50px;
}

.card-columns .card {
  column-break-inside: avoid;
  display: inline-block;
  width: 100%;
}
