.titulo2 {
  font-size:25px;
  font-family: Poppins;
  font-weight: 700;
  margin-bottom: 25px;
}

.subtitulo{
  font-size: 18px;
  font-family: Poppins;
  font-weight: 500;
}

.search-input .box{
  margin: 100px auto;
}

.mat-paginator{
  background-color: #D8D8D8;
}