  <div class="container text-center">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
      <h1 class="titulo2">Nuestros productos</h1>
      <p class="subtitulo">
        Ofrecemos productos en las siguientes categorias, si deseas conocer mas ingresa en alguna categoria o puedes ver todos al dar click en "Todos" .
      </p>
    </div>
  </div>
  <div class="container">
    <div>
      <mat-chip-list>
        <mat-chip>Todos</mat-chip>
        <mat-chip *ngFor="let enum of categorias | keyvalue">{{enum.value}}</mat-chip>
      </mat-chip-list>
    </div>
    <div class="card-columns">
     <app-card-producto *ngFor="let producto of productos" [producto]=producto></app-card-producto>
    </div>
  </div>

