<div class="container text-center">

  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto">
    <h1 class="titulo2">Nuestros productos</h1>
    <p class="subtitulo">
      Ofrecemos productos en las siguientes categorias, si deseas conocer mas ingresa en alguna categoria o puedes ver
      todos al dar click en "Todos" .
    </p>
  </div>

  <div>
    <div class="container input-group">
      
      <input style="height: 50px;" type="search" class="form-control" id="search" [(ngModel)]="searchText" name="searchText" placeholder="search.." (keyup)="applyFilter($event.target.value)">
      
      <mat-form-field appearance="fill" style="width: 30vw;">
        
        <mat-label>categorias</mat-label>
        <mat-select>
          <mat-option (click)="showProductsbyCategory('Todos')">Todos</mat-option>
          <mat-option *ngFor="let categoria of categorias" (click)="showProductsbyCategory(categoria.categoria)"
            [value]="categoria">{{categoria.categoria}}</mat-option>
        </mat-select>

      </mat-form-field>
    </div>

    <div class="card-columns">
      <app-card-producto style="display:inline-block" *ngFor="let product of obs | async" [producto]=product>
      </app-card-producto>
    </div>

  </div>
  <mat-paginator style="font-size: 15px;"[pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

