 @import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
 .social-icons li {
   vertical-align: text-top;
   display: inline;
   align-items: center;
   font-size: 0.8em;
   padding: 0.9em;
 }

 a {
  color:#C2C2C2;
}

@media screen and (max-width: 600px) {
  .contacto{
  display:none;
  }
}

.contacto{
  padding-top: 2vh;
  height: 3vh;
  display: flex;
  align-items: center;
  justify-content: center;
  ruby-align: center;
}
