.carousel-caption{
  background-color:rgba(1,1,1,0.6);
}

.carousel-inner img {
  width:100vh;
}

h1 {
  font-family: 'Poppins';
  font-size: 5vw;
}

h2 {
  font-family: 'Poppins';
  font-size: 1em;
}

.card-group{
  margin: 20px;
}

.card{
  margin: 20px;
}


.card-title{
  font-family: 'Poppins';
  font-size: 20px;
}

.card-text{
  font-family: 'Poppins';
  font-size: 16px;
}
