<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" style="height: 40vh;">
      <img class="d-block w-100" src="/assets/slider-1.jpg" alt="First slide" style="  opacity: 0.5;">
      <div class="carousel-caption d-none d-md-block">
        <h1>Ferreteria Universal</h1>
        <p style="font-size: 20px;">"Danos el gusto te atenterte, te brindaremos asesoria en herramientas para tus trabajos."</p>
      </div>
    </div>
    <div class="carousel-item" style="height: 40vh;">
      <img class="d-block w-100" src="/assets/slider-2.jpg" alt="Second slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Lorem Ipsum</h5>
        <p>"No hay nadie que ame el dolor mismo, que lo busque, lo encuentre y lo quiera, simplemente porque es el
          dolor."
        </p>
      </div>
    </div>
    <div class="carousel-item" style="height: 40vh;">
      <img class="d-block w-100" src="/assets/slider-3.jpg" alt="Third slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Lorem Ipsum</h5>
        <p>"No hay nadie que ame el dolor mismo, que lo busque, lo encuentre y lo quiera, simplemente porque es el
          dolor."
        </p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
