<div class="container my-2" style="background-color: rgb(158, 172, 204);">
    <h1 class="my-4 text-center">CONTÁCTENOS</h1>
    <h1 class="my-4 text-center">Envianos tus dudas e inquietudes</h1>
    <div class="row">
    <div class="col-md-5 text-center">
      <!-- <img class="img-fluid" src="/src/assets/sad_n.jpg" alt="" style="max-height: 450px;"> -->
      <div>
        <img src="/src/assets/20190926_211850.jpg" style="max-height: 450px;" alt="imagen">
      </div>
    </div>
    <div class="col-md-7">
      <h1 class="my-3" style="text-emphasis: bold;;">No dude en contactarnos, diga hola...</h1>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
    </div>
  </div>
