<div class="container-fluid py-2 px-4" style="background-color: rgb(61, 119, 253); max-height: 500px;">
    <div class="container my-4" style="background-color: rgb(61, 119, 253);">
        <h3 class="my-2 text-center">CONTÁCTENOS</h3>
        <h2 class="my-2 text-center">Envianos tus dudas e inquietudes</h2>
    </div>
    <div class="container my-4">
        <div class="row">
            <div class="col-md-5 text-center" style="background-color: white;">
              <img class="img-fluid" src="/assets/187.jpg" alt="" style="max-height: 450px;">
            </div>
            <div class="col-md-7" style="background-color: white;">
              <h1 class="my-3">No dude en contactarnos, diga hola...</h1>
              <form>
                <div class="form-row my-3">
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Nombre completo">
                  </div>
                  <div class="col">
                    <input type="text" class="form-control" placeholder="Correo Electrónico">
                  </div>
                </div>
                <div class="form-row my-3">
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Número de teléfono">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Asunto">
                    </div>
                </div>
                <div class="form-row my-3">
                    <div class="col">
                        <input type="text" class="form-control" placeholder="Envíanos un mensaje" style="height: 120px;">
                    </div>
                </div>
              </form>
              <button type="button" class="btn btn-primary btn-lg">Enviar mensaje --></button>
            </div>
        </div>
    </div>
</div>
