<div class="container-fluid py-2 px-4" style="background-color: rgb(61, 119, 253);">
  <div class="container my-4" style="background-color: rgb(61, 119, 253);">
        <h3 class="my-2 text-center">CONTÁCTANOS</h3>
        <h2 class="my-2 text-center">Envianos tus dudas e inquietudes</h2>
  </div>
  <div class="container my-4">
    <div class="row">
      <div class="col-md-5 text-center" style="background-color: white;">
              <img class="img-fluid" src="/assets/logo.png" alt="" style="max-height: 450px;">
      </div>
      <div class="col-md-7" style="background-color: white;">
        <h1 class="my-3">No dudes en contactarnos, salúdanos te responderemos lo más rápido posible</h1>
        <!-- FORMULARIO -->
        <form [formGroup]="datos_formulario_contacto" (ngSubmit)="contactForm(form.value)" #form='ngForm'>
          <!-- NOMBRE COMPLETO -->
          <div class="form-row my-3">
            <div class="col">
              <input formControlName="name" 
              type="text" 
              class="form-control" 
              name="name"
              placeholder="Nombre completo"
              required ngModel>
              <div *ngIf="formulario.name.invalid && (formulario.name.dirty || formulario.name.touched)" class="alert alert-danger">
                <div *ngIf="formulario.name.errors.required">
                  Debe introducir su nombre
                  </div>
                </div>
              </div>
              <!-- email -->
              <div class="col">
                <input formControlName="email" 
                  type="text" 
                  class="form-control"
                  aria-label="Sizing example input"
                  aria-describedby="inputGroup-sizing-sm"
                  name="email"
                  placeholder="Correo Electrónico"
                  required ngModel>                                 
                  <div *ngIf="formulario.email.invalid && (formulario.email.dirty || formulario.email.touched)">
                    <div *ngIf="formulario.email.errors.required" class="alert alert-danger">
                      Debe introducir su email electrónico
                    </div>  
                    <div *ngIf="formulario.email.errors.email" class="alert alert-warning">
                      Debe introducir un email válido (Ej: miemail@email.com)
                    </div>                   
                  </div>
              </div>
          </div>
          <!-- phone + subject -->
          <div class="form-row my-3">
              <!-- NUMERO DE phone -->
              <div class="col">
                <input formControlName="phone"
                type="text" 
                class="form-control"
                aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-sm"
                placeholder="Número de teléfono"
                pattern="^[0-9]+$"
                name="phone"
                minlength="10"
                required ngModel>
                <div *ngIf="formulario.phone.invalid && (formulario.phone.dirty || formulario.phone.touched)">
                  <div *ngIf="formulario.phone.errors.required" class="alert alert-danger">
                    Debe ingresar un número de phone
                    </div>
                  <div *ngIf="formulario.phone.errors?.pattern" class="alert alert-warning">
                    Debe ingresar únicamente números, sin puntos ni comas
                  </div>
                  <div *ngIf="formulario.phone.errors.minlength" class="alert alert-warning">
                    Debe ingresar al menos 10 caracteres
                  </div>
                </div>
              </div>
              <!-- subject -->
              <div class="col">
                <input formControlName="subject" 
                type="text" 
                class="form-control" 
                name="subject"
                placeholder="Asunto"
                maxlength="50"
                required ngModel>
                <div *ngIf="formulario.subject.invalid && (formulario.subject.dirty || formulario.subject.touched)" class="alert alert-danger">
                  <div *ngIf="formulario.subject.errors.required">
                    Debe introducir el subject
                  </div>
                  <div *ngIf="formulario.phone.errors.maxlength" class="alert alert-warning">
                    Debe ingresar como MÁXIMO 50 caracteres
                  </div>
                </div>
              </div>
          </div>
          <!-- content -->
          <div class="form-row my-3">
            <!-- content -->
            <div class="col">
              <textarea formControlName="content"
              type="text"
              class="form-control"
              name="content"
              placeholder="Escribe tu mensaje"
              maxlength="100"
              rows="3"
              required ngModel>
            </textarea>
              <div *ngIf="formulario.content.invalid && (formulario.content.dirty || formulario.content.touched)" class="alert alert-danger">
                <div *ngIf="formulario.content.errors.required">
                  Por favor ingresa un mensaje
                </div>
                <div *ngIf="formulario.content.errors.maxlength" class="alert alert-warning">
                  Debe ingresar como MÁXIMO 100 caracteres
                </div>
              </div>
            </div>
          </div>
          <button type="submit" [disabled]="datos_formulario_contacto.invalid" class="btn btn-primary btn-lg">
            Enviar content
          </button>
        </form>
      </div>
    </div>
  </div>
</div>