.titulo {
  font-size: 3.5vw;
}

.titulo2 {
  font-size: 3vw;
}

.color-letra-azul {
  color: #333457 !important;
}

.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 3;
  }
  @include media-breakpoint-only(xl) {
    column-count: 3;
  }
}

.pestanas {
  margin-right: 2%;
  margin-left: 2%;
  background-color: #ffffff00;
  color: #333457 !important;
  border: 0px;
}

.pestanas:hover {
  background-color: #00cdb3 !important;
  color: white;
}
