<div class="jumbotron"
    style="background-image: url(http://www.californiafootgolfclub.com/static/img/footgolf-1.jpg); background-size: 100%;">
    <div class="container for-about">
        <h1>About</h1>
    </div>
</div>
<section _ngcontent-lsn-c52="" class="jumbotron jumbotron_principal text-center">
    <div _ngcontent-lsn-c52="" class="container texto_jumbotron">
        <h1 _ngcontent-lsn-c52="" class="py-3">¿Qué hacemos?</h1>
        <p _ngcontent-lsn-c52="" class="py-3">Nuestros servicios</p>
    </div>
</section>
<div id="" class="carousel" data-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets\blog\coffee-books.jpg" class="d-block w-100" alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h5>First slide label</h5>
                <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
            </div>
        </div>

    </div>
</div>