  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <h6>Ferreteria Universal</h6>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus, debitis hic, veniam quaerat accusamus officia inventore consectetur odit ea omnis illum eum tempore neque expedita maiores voluptatibus quae? Facere, nesciunt..</p>
        </div>
        <div class="col-xs-12 col-md-3">
          <h6>Enlaces rápidos</h6>
          <hr>
          <div class="row">
            <ul class="footer-links col-xs-6 col-md-6">
                <li><a href="#">>> Quiénes Somos</a></li>
                <li><a href="#">>> Servicios</a></li>
                <li><a href="#">>> Projects</a></li>
                <li><a href="#">>> Blog</a></li>
                <li><a href="#">>> Pricing</a></li>
                <li><a href="#">>> Contacto </a></li>
              </ul>
              <ul class="footer-links col-xs-6 col-md-6">
                <li><a href="#">>> Galería</a></li>
                <li><a href="#">>> PF</a></li>
                <li><a href="#">>> Comentarios</a></li>
                <li><a href="#">>> Localización</a></li>
                <li><a href="#">>> Términos</a></li>
                <li><a href="#">>> Politicas</a></li>
              </ul>
          </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <h6>Horario de atención</h6>
            <hr>
            <p class="font-weight-light">Lunes: &nbsp;&nbsp;&nbsp; 8AM - 6PM</p>
            <p class="font-weight-light">Martes: &nbsp;&nbsp;&nbsp; 8AM - 6PM</p>
            <p class="font-weight-light">Miércoles: &nbsp;&nbsp;&nbsp; 8AM - 6PM</p>
            <p class="font-weight-light">Jueves: &nbsp;&nbsp;&nbsp; 8AM - 6PM</p>
            <p class="font-weight-light">Viernes: &nbsp;&nbsp;&nbsp; 8AM - 6PM</p>
            <p class="font-weight-light">Sábado: &nbsp;&nbsp;&nbsp; 8AM - 5PM</p>
            <p class="font-weight-light">Domingo: &nbsp;&nbsp;&nbsp; <span id="rojo">CERRADO</span></p>
            <p class="font-weight-light">Festivos: &nbsp;&nbsp;&nbsp; 8AM - 2PM</p>
        </div>
        <div class="col-xs-12 col-md-3">
            <h6>Álbum</h6>
            <hr>
            <div class="container">
                <div class="row my-3">
                    <img src="//placehold.it/200x140" class="img-responsive col-sm-12 col-md-4 my-2">
                    <img src="//placehold.it/200x140" class="img-responsive col-sm-12 col-md-4 my-2">
                    <img src="//placehold.it/200x140" class="img-responsive col-sm-12 col-md-4 my-2">
                </div>
                <div class="row my-3">
                    <img src="//placehold.it/200x140" class="img-responsive col-sm-12 col-md-4 my-2">
                    <img src="//placehold.it/200x140" class="img-responsive col-sm-12 col-md-4 my-2">
                    <img src="//placehold.it/200x140" class="img-responsive col-sm-12 col-md-4 my-2">
                </div>
                <div class="row my-3">
                    <img src="//placehold.it/200x140" class="img-responsive col-sm-12 col-md-4 my-2">
                    <img src="//placehold.it/200x140" class="img-responsive col-sm-12 col-md-4 my-2">
                    <div class="col-md-4"><img src="//placehold.it/200x140" class="img-thumbnail img-responsive"></div>
                </div>
            </div>
        </div>
      </div>
      <hr class="largo">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 Ferreteria Universal. Todos los derechos reservados.</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <p class="copyright-text">Diseñado & Desarrollado por:
                 Angie Viviana Galindo - Duban Estiven García - Carlos Sebastián Rodríguez</p>
          </div>
      </div>
    </div>
</footer>
