  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-3">
          <h6>Ferreteria Universal</h6>
          <p>{{empresa.quehacemos}}</p>
        </div>
        <div class="col-xs-12 col-md-3">
          <h6>Enlaces rápidos</h6>
          <hr>
          <div class="row">
            <ul class="footer-links col-xs-6 col-md-6">
                <li><a (click)="goToQuienesSomos()">>> Quiénes Somos</a></li>
                <li><a (click)="goToServicios()">>> Servicios</a></li>
                <li><a (click)="goToProductos()">>> Productos</a></li>
                <li><a (click)="goToContacto()">>> Contacto </a></li>
                <li><a href="{{empresa.ubicacion.mapsLocation}}">>> Localización</a></li>
              </ul>
          </div>
        </div>
        <div class="col-xs-12 col-md-3">
            <h6>Horario de atención</h6>
            <hr>
            <p class="font-weight-light">Lunes: &nbsp;&nbsp;&nbsp; 2PM - 8PM</p>
            <p class="font-weight-light">Martes: &nbsp;&nbsp;&nbsp; 2PM - 8PM</p>
            <p class="font-weight-light">Miércoles: &nbsp;&nbsp;&nbsp; 2PM - 8PM</p>
            <p class="font-weight-light">Jueves: &nbsp;&nbsp;&nbsp; 2PM - 8PM</p>
            <p class="font-weight-light">Viernes: &nbsp;&nbsp;&nbsp; 2PM - 8PM</p>
            <p class="font-weight-light">Sábado: &nbsp;&nbsp;&nbsp; 2PM - 8PM</p>
            <p class="font-weight-light">Domingo: &nbsp;&nbsp;&nbsp; <span id="rojo">CERRADO</span></p>
            <p class="font-weight-light">Festivos: &nbsp;&nbsp;&nbsp; 2PM - 8PM</p>
        </div>
      </div>
      <hr class="largo">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright &copy; 2020 Ferreteria Universal. Todos los derechos reservados.</p>
        </div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <p class="copyright-text">Diseñado & Desarrollado por:
                 Angie Viviana Galindo - Duban Estiven García - Carlos Sebastián Rodríguez</p>
          </div>
      </div>
    </div>
</footer>
