<div class="container">
    <div>
        <button mat-raised-button color="primary">
            <mat-icon>add</mat-icon>
            Nuevo Producto
        </button>
    </div>

    <mat-form-field appearance="standard">
        <mat-label>Buscar</mat-label>
        <input matInput (keyup)="applyFilter($event)" placeholder="Ingresa el texto por el cual desea filtrart" #input>
    </mat-form-field>
    <table mat-table matSort [dataSource]="listaProductos" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order. 
              The actual rendered columns are set as a property on the row definition" -->

        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="valor">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Valor </th>
            <td mat-cell *matCellDef="let element"> {{element.valorUnitario}} </td>
        </ng-container>

        <ng-container matColumnDef="marca">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Marca </th>
            <td mat-cell *matCellDef="let element"> {{element.descripcion.marca}} </td>
        </ng-container>

        <ng-container matColumnDef="categorias">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Categorias </th>
            <td mat-cell *matCellDef="let element"> {{element.categorias}} </td>
        </ng-container>

        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones</th>
            <td mat-cell *matCellDef="let element">
                <button mat-stroked-button color="warn">
                    <mat-icon>delete</mat-icon>
                </button>
                <button mat-stroked-button color="primary">
                    <mat-icon>edit</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5,10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
</div>
