<div class="card">
  <div class="card-img-caption">
    <p class="card-text">Quiénes Somos?</p>
    <img class="card-img-top" src="/assets/Imagenes Quienes Somos/Quienes Somo-titulo.jpg" alt="Card image cap">
  </div>
</div>

<div class="contenido">
   <div class="card mb-3 card-historia">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img  class="card-img" alt="..."  src="/assets/Imagenes Quienes Somos/Plaza Real.jpg">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Nuestra Historia</h5>
          <p class="historia" >{{empresa.historia}}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="card-deck mb-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">¿Qué Hacemos?</h5>
        <p class="card-text-info">{{empresa.quehacemos}}</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Misión</h5>
        <p class="card-text-info">{{empresa.mision}}</p>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Visión</h5>
        <p class="card-text-info">{{empresa.vision}}</p>
      </div>
    </div>
  </div>
</div>
<!-- <div class="Testimonios">
  <app-testimonios></app-testimonios>
</div> -->
