/*Titulo*/
.card-text{
  font-size: 10vw;
  font-family: Poppins,SemiBold;
  color: white;
}

.card-img-caption {
  border-top-left-radius: calc(.25rem - 1px);
  border-top-right-radius: calc(.25rem - 1px);
}

.card-img-caption .card-img-top {
  z-index: 0;
}

.card-img-caption .card-text {
  text-align: center;
  width: 100%;
  margin: 25% 0;
  position: absolute;
  z-index: 1;
}

/* card Historia*/

.contenido{
  padding: 4vh;
  vertical-align:middle;
}

.card {
  background: #fff;
  display: inline-block;
  border: 1px solid #ddd;
  padding: 4vh;
}

.historia{
  font-size: 18px;
  padding: 15px;
}

.card-group {
  padding: 6vh;
}
/* card Info*/

.card-title {
  font-size: 28px;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

.card-text-info{
  font-size: 18px;
  padding: 15px;
}

