.informacion-contacto{
  text-align: center;
  margin: 5vw;
}

.titulo{
  font-size: 4vw;
  font-family: Poppins;
  font-weight: 700;
}

.informacion{
  text-align: left;
  margin: 5vw;
}

.subtitulos{
  font-size: 20px;
  font-family: Poppins;
  font-weight: 600;
}

.text-info{
  font-size: 16px;
  font-family: Poppins;
  font-weight: 500;
}

a {
  font-size: 16px;
  font-family: Poppins;
  font-weight: 500;
  margin:20px;
}

 .social-icons a {
   vertical-align: text-top;
   display: inline;
   align-items: center;
   font-size: 50em;
   padding: 0.5em;
 }

 @media screen and (max-width: 960px) {
  .mapaGrande{
    display:none;
  }
}

@media screen and (min-width: 960px) {
  .mapaPeq{
    display:none;
    }
}
